:root {
    --sqwidth: 30px;
    --sqheight: 30px;
    --row_width: 480px;
}

body {
    /* text-align: center; */
    background-color: #FCD8D4;
    background-image: url(./img/pencil.png);
    background-blend-mode: soft-light;
}

#gamepad_container {
    position: relative;
    width: 577px;
    height: 670px;
    /* text-align: center; */
    margin: auto;
    margin-top: 50px;
    background-image: url(./img/game-pad.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#grid_container {
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    top: 64px;
    left: 49px;
}

.row {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: var(--sqheight);
    width: var(--row_width);
}

.square {
    display:inline-block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height:var(--sqheight);
    width:var(--sqwidth);
    border: solid #efefef;
    border-width: 0px 1px 1px 0px;
    background-color: #efefef;
}

.noselect {
    user-select: none;
}

#credit {
    position:absolute;
    bottom: 0;
    font-size: small;
}

#color_picker{
    position: absolute;
    top: 562px;
    left: 45px;
}

#selected_color_overlay {
    display: block;
    width: 60px;
    height: 60px;  
    border-radius: 50%;
    background-color: #8785A2;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

input[type=color] {
    opacity: 0;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    overflow: hidden;
}

#eraser_overlay {
    display: block;
    position: absolute;
    top: 562px;
    left: 471px;
    width: 60px;
    height: 60px;  
    border-radius: 50%;
    background-color: blue;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
