.body {
    text-align: center;
}

.container {
    margin: 0 auto;
}

.row {
    display:block;
    height:30px;
    width: 480px;
    padding: 0;
    margin: 0;
    background-color: red;
}

.square {
    display:inline-block;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    height:30px;
    width:30px;
    border: solid black;
    border-width: 0px 1px 1px 0px;
    background-color:blue;
}

.square:hover {
    background-color: black;
}