.body {
    text-align: center;
}

#gamepad_container {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
#container {
    margin: 0 auto;
    position: absolute;
    top: 107px;
    left: 81px;
}

.row {
    display:block;
    height:30px;
    width: 480px;
    padding: 0;
    margin: 0;
    /* background-color: red; */
}

.square {
    display:inline-block;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    height:30px;
    width:30px;
    border: solid gray;
    border-width: 0px 1px 1px 0px;
    background-color:white;
}

